h1 {
    padding-left: 25px;
    padding-bottom: 5px;
    color: mediumvioletred;
}

td {
    padding-left: 25px;
    padding-top: 3px;
    text-align: center;
    font-size: medium;
}

th {
    padding-left: 25px;
    text-align: center;
    font-size: small;
}
.button-add {
    margin-top: 1%;
    margin-left: 9%;
}

.table {
    max-width: 720px;
    color: #580100;
}

body {
    font-size: 1.0rem;
    line-height: 1.1;
    max-width: 720px;
    background-color: snow;
}